<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Taiwan House Price Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Transaction date" placeholder="Transaction date" required="required" /><br>
    	<input type="text" name="House Age" placeholder="House Age" required="required" /><br>
        <input type="text" name="Distance from nearest Metro station (km)	" placeholder="Distance from nearest Metro station (km)	" required="required" /><br>
        <input type="text" name="Number of convenience stores" placeholder="Number of convenience stores" required="required" /><br>
        <input type="text" name="latitude" placeholder="latitude" required="required" /><br>
        <input type="text" name="longitude" placeholder="longitude" required="required" /><br>
        <input type="text" name="Number of bedrooms" placeholder="Number of bedrooms" required="required" /><br>
        <input type="text" name="House size (sqft)" placeholder="House size (sqft)" required="required" /><br>

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>